#about {
    height: 180vh;
    background: #111;
    position: relative;
}

#about.container {
    max-width: 100% !important;
}

section {
    position: absolute;
    width: 100%;
    /* height: calc(100% - 200px); */
    /* height: calc(100% - 20vh); */
    height: 80vh;
    background: #fff;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

section .curve {
    position: absolute;
    /* bottom: -200px;
    height: 200px; */
    width: 100%;
    bottom: -20vh;
    height: 20vh;
    transform-origin: top;
}

section .curve img {
    width: 100%;
    height: 100%;
}

.my-intro {
    height: 20%;
    max-height: 60vh;
    max-width: 60%;
}

.intro-title {
    font-size: 1.6rem;
    font-weight: bold;
}

.intro-header, .intro-body {
    font-size: 1.2rem;
}

.intro-body {
    line-height: 1.5;
}

.my-skills {
    position: absolute;
    width: 100%;
    top: 100vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.skills-text {
    justify-content: center;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
}

.skills-categories {
    font-size: 1.2rem;
}

.skills-categories, .skill-list {
    justify-content: space-around;
}

.skills-categories > div {
    text-align: center;
}

.skill-list  div.row {
    justify-content: center;
}

.skills-categories > div {
    border-top: 3px solid #fff;
    padding: 2rem 0;
}

.icon {
    font-size: 3.5rem;
}

.row svg {
    margin: 1rem;
}

.skill-name {
    text-align: center;
}

@media only screen and (max-width: 576px) {
    #about {
        height: 200vh;
    }

    section {
        height: 70vh;
    }

    .my-intro {
        height: auto;
        width: 80%;
    }

    .icon {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 768px) and (min-width: 577px) {
    .icon {
        font-size: 2.7rem;
    }
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
    #about {
        height: 165vh;
    }

    .icon {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 993px) {
    #about {
        height: 200vh;
    }

    .icon {
        font-size: 3rem;
    }
}