#contact {
    color: #fff;
    background: #111;
    flex-direction: column;
}

.contact-title {
    font-size: 3rem;
}

form {
    width: 50vw;
}

#message {
    height: 25vh;
}

.sendButton {
    width: 10rem;
    padding: 0.5rem;
}

.follow, .email-text {
    margin: 1.5rem 0;
}

.follow a {
    color: #fff;
    margin: 1rem 0.5rem;
}

.follow a:hover {
    color: #fc7233;
}