#contact {
    color: #fff;
    background: #111;
    flex-direction: column;
}

.contact-info {
    font-size: 1.2rem;
    margin: 2rem;
}

.contact-title {
    font-size: 3rem;
}

.contact-text {
    margin-bottom: 2rem;
}

form {
    width: 50vw;
}

#message {
    height: 25vh;
}

.sendButton {
    font-size: 1.2rem;
    width: 10rem;
    padding: 0.5rem;
}

.follow, .email-text {
    margin: 1.5rem 0;
}

.follow a {
    font-size: 3rem;
    color: #fff;
    margin: 1rem 0.5rem;
}

.follow a:hover {
    color: #ff8c00;
}

@media only screen and (max-width: 576px) {
    form {
        width: 80vw;
    }
}