.navbar {
    width: 100vw;
    height: 10vh;
    background-color: transparent !important;
}

.navbar > li {
    font-size: 1.5rem;
}

.scroll-bar {
    background-color: #171c20 !important;
}

.scroll-bar > li, .navbar > ul > li > a{
    font-size: 1.2rem;
}

a.nav-link, li.nav-item {
    color: #fc7233;
}

a.nav-link:hover {
    color: white;
}

a.active {
    color: white;  
    font-weight: bold;
}

.active {
    visibility: visible;
    animation:  showNavBar 0.3s 1;
}

.hidden {
    visibility: hidden;
    animation: hideNavBar 0.3s 1;
    transition: visibility 0s 0.3s;
}

@keyframes showNavBar {
    0%   {top: -50px;}
    50%  {top: -25px;}
    100% {top: 0px;}
}

@keyframes hideNavBar {
    0%   {top: 0px; }
    50%  {top: -25px; }
    100% {top: -50px; }
}