.header-image {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/images/header-img.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.intro-area {
    width: 20rem;
    position: absolute;
    top: 50%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-area .intro-text {
    color: #fc7233;
    font-style: italic;
    font-size: 2rem;
}

.intro-area .intro-name { 
    color: #fc7233;
    font-size: 4rem;
}


