#work {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F0F0F0;
}

#work.container {
    max-width: 100% !important;
}

.work-text {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}

/* .recent-project > .row {
    justify-content: center;
    align-items: center;
} */

.recent-project {
    margin-bottom: 2rem;
}

.project-title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    color: #378977;
}

.project-info {
    margin-top: 2rem;
    padding: 1rem 4rem;
    justify-content: space-around;
}

.project-image {
    padding-right: 1rem;
    justify-content: flex-end;
}

.project-image video {
    margin-right: 2rem;
}

.project-description {
    justify-content: flex-start;
    padding-left: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    width: 60%;
    margin-left: 2rem;
}

.project-info div .row img {
    width: 60%;
    margin-right: 2rem;
}


.video-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slider-img-area {
    width: 100%;
    height: 100vh;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #111; */
}

.swiper-slide {
    color: #fdfdfd;
}

.modal-video {
    width: 100%;
}

.project-image video {
    max-height: 60vh;
}

@media only screen and (max-width: 576px) {
    #work {
        height: 130vh;
        justify-content: center;
    }

    .work-text {
        margin: 0;
    }

    video {
        width: 100%;
    }

    .project-image > video {
        margin: 0;
    }

    .project-description {
        margin: 3rem 0 0 0;
        padding: 0;
        width: 90%;
        text-align: justify;
    }
}

@media only screen and (max-width: 768px) {
    .project-image {
        justify-content: center;
    }

    .project-image video {
        margin-right: 0;
    }

    .description-row {
        justify-content: center;
    }

    .project-description {
        text-align: justify;
        margin: 2rem 0 0 0;
        padding: 0;
    }
}